[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "StatRank"]
	path = StatRank
	url = https://github.com/cran/StatRank
	shallow = true
	registered = true
